########################################################################
#              ENDHOST - COMPUTE DEVICE                                #
#                                                                      #
# Welcome to {{ "{:42}".format(ansible_net_hostname) }}                #
# model {{ "{:39}".format(ansible_net_model) }}                        #
# serial number {{ "{:43}".format(ansible_net_serialnum) }}            #
########################################################################