banner login
########################################################################
#              LEAF DEVICE - ACCESS LAYER                              #
#          Access to this device is restricted to NOC members          #
#    If you need campus access ports changed, please contact them      #
#                                                                      #
# Welcome to {{ "{:42}".format(ansible_net_hostname) }}                #
# model {{ "{:39}".format(ansible_net_model) }}                        #
# serial number {{ "{:43}".format(ansible_net_serialnum) }}            #
########################################################################
EOF