{{ devices | length }} devices contacted in total
-------------------------------------------------
{% for device in devices %}

{#}
Note that you might encounter additional line spacing that you do not expect when using for loops and other control logic in Jinja, depending on your environment settings.
To avoid this, you can use - at the end of your control tags to prevent those lines from creating blank lines, like so:
{% for foo in bar -%}
{% endfor -%}
{#}

{% endfor %}